body {
    color: black;
}

h1, h2, h3, h4, h5, h6, h7 {
    color: navy;
}

p, div, li {
	line-height: 150%;
	padding-left: 5px;
}

table {
	table-layout: fixed;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
	padding: 15px;
}

pre, code {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
	background-color:#E6E6E6;
	padding-left: 5px;
}


.menu {
	font: 15px arial, sans-serif;
	color: blue;
}

.shortdesc {
	color:navy;
	font-family: "verdana";
	font-size:14px;
	border: 1px solid #E6E6E6;
	padding-right: 5px;
}

#footnotediv {
    display: block;
	background-color:#A9D0F5;
	border: 1px solid black;
    font-family: monospace;
	font-weight:bold;
    font-size:16px;
	padding: 15px;
	line-height: 150%;
	
}